doctype html
html(lang="en")
    head
        include include/head.jade
    body
        header
            .content
                .header--logo--block
                    .middle
                        a.logo
                .header--nav--block
                    .middle
                        .flag--block
                            a.flag.brit.active
                            a.flag    
                        nav
                            a About compamy
                            a How it works
                            a What we offer
                            a Contacts
        .wrap
            section.home
                .phbg
                .home--table--txt 
                    .middle
                        h1 Easy benefits with your free WiFi 
                        .salam Find out more
            section.about
                .content
                    .about--one--txt
                        article.middle
                            h2 About company
                            p SPOT IN WIFI helps your business to improve your free WiFi network, whether it a bar, restaurant, nightclub or any place with sticker in the window, saying “Free WiFi here”. Communicate with your customers, collect valuable data and know opinion of your clients.
                    .about--one--txt
                        article.middle
                            img(src="img/about.png")
                    

            

            
       